.edu-item {
    padding: var(--base-px-m) 0;
}
  
.edu-headings {
    display: flex;
    padding: var(--base-px-sm) 0;
    justify-content: space-between;
}

.edu-time {
    font-style: italic;
    font-weight: 500;
}

.education ul {
    text-align: right;
    padding-left: var(--base-px-m);
    list-style:none;
}